#set( $fieldMap = {"appDatetime":"app_datetime","appointmentStatus":"appointment_status","appointmentName":"appointment_name","appointmentNotes":"appointment_notes"} )
#set( $ctx.stash.fieldMap = $fieldMap )
$util.toJson({})